.app-banner {
    position: relative;
    min-height: 900px;
    padding-bottom: 350px;
    background-image: url('/banner_bg.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -50px;
    z-index: 1;

    @media (max-width: 768px) {
        padding-bottom: 0px;
        min-height: auto;
        margin-top: 50px;
        background-image: none;
    }
    &__text {
        max-width: 700px;
        margin: auto;
        p {
            color: var(--dark);
            opacity: 0.8;
            line-height: 1.6;
            font-size: 18px;
        }
    }

    &__btns {
        margin-top: 50px;
        .btn {
            margin: 0 10px;
        }
    }
}