.app-cta {
    background-color: var(--primary);
    padding: 90px 15px;
    margin-top: 100px;

    

    .container {
        max-width: 850px;
    }

    @media (max-width: 991px) {
        .container {
            max-width: 100%;
        }
        margin-top: 50px;
    }

    @media (max-width: 768px) {
        margin-top: 30px;
        padding: 60px 15px;
        .btn {
            margin-top: 20px;
        }
    }

    .btn {
        padding: 15px 45px;
        &:hover {
            border: 3px solid var(--secondary);
            background-color: transparent;
        }
    }

    &__text {
        font-style: normal;
        font-weight: bold;
        
        color: var(--light);
        font-family: var(--primary-font);
        h2 {
            font-size: 35px;
            margin-bottom: 10px;
        }

        h3 {
            font-size: 30px;
        }

        @media (max-width: 768px) {
            .app-cta__text {
                h2 {
                    font-size: 28px;
                }
    
                h3 {
                    font-size: 24px;
                }
            }
        }
    }
}