:root {
    --primary: #1b9cfc;
    --secondary: #f97f51;
    --error: darkred;
  
    --light: #ffffff;
    --dark: #242134;
    --grey: #b3b3b3;
  
    --primary-light: #25ccf7;
    --secondary-light: #8bc34a;
  
    --primary-font: 'Roboto', sans-serif;
  }
  
  [data-theme="dark"] {
    --primary: #1b9cfc;
    --secondary: #f97f51;
    --error: darkred;
  
    --light: #222;
    --dark: #fff;
    --grey: #b3b3b3;
  
    --primary-light: #25ccf7;
    --secondary-light: #8bc34a;
  }
  
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "grid";
  
  h1,h2,h3,h4,h5,h6 {
    margin: 0;
  }
  
  * {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  html, body {
    overflow-x: hidden;
  }
  
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--primary-font);
    background-color: var(--light);
  }
  
  button {
    &:focus, &:active {
      outline: none;
    }
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .t-light {
    color: var(--light);
  }
  
  .t-grey {
    color: var(--grey);
  }
  
  .t-center {
    text-align: center;
  }
  
  .h-100vh {
    min-height: 100vh;
  }
  
  .container {
    max-width: 1024px;
  }
  
  .app {
    overflow-y: hidden;
  }
  